<main
  role="main"
  class="flex flex-col items-center my-16 mx-8 xl:mx-72 bg-white rounded-lg drop-shadow-md"
>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
