<section>
  <h1>Welcome to BrainTrain! 🧠 🚂</h1>
  <p>It's good to have you onboard.</p>
</section>

<section>
  <article>
    <h2>Games</h2>
    <ul>
      <li>
        <%= link("SpeedSort", to: Routes.live_path(@conn, BrainTrainWeb.Live.SpeedSortLive.Index)) %>
      </li>
      <li>
        More coming soon ...
      </li>
    </ul>
  </article>
  <article>
    <h2>Players</h2>
    <ul>
      <li>
        No one here yet
      </li>
    </ul>
  </article>
</section>
